@media (max-width: 900px) {
    .hero {
        flex-direction: column;
    }
    .big {
        font-size: 4rem;
    }
    .card {
        width: 100%;
        height: auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    background: #f6f5f1;
    color: #111;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}

header img {
    width: 60px;
    height: 45px;
    border-radius: 0;
    object-fit: cover;
    margin-left: 1rem;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: #111;
    margin: 0 1rem;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.6;
}

.event {
    font-size: 0.9rem;
    color: #666;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem;
    gap:2rem;
}

.left {
    flex: 1;
    padding-top: 2rem;
}

.big {
    font-size: 7rem;
    font-weight: 800;
    line-height: 0.9;
}

.lead {
    margin: 1.5rem 0;
    color: #444;
    font-size: 1.1rem;
}

.socials {
    margin: 2rem;
}

.icon {
    border: 1px solid #000;
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.icon:hover {
    background: #000;
    color: #fff;
}

.stats {
    margin-top: 1.5rem;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.stat {
    max-width: 260px;
}

.stat-num {
    font-size: 2rem;
    font-weight: 700;
}

.stat-desc {
    font-size: 0.95rem;
    color: #555;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    background-color: #fcb92c;
    border-radius: 2rem;
    padding: 2rem;
    width: 400px;
    height: 500px;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.about {
    background: #000;
    color: white;
    text-align: center;
    padding: 1rem 0.5rem;
    position: relative;
}

.about-text {
    font-size: 3rem;
    font-weight: bold;
    text-transform: lowercase;
}

.about-image img{
    max-width: 600px;
    margin-top: 0;
    border-radius: 0;
}

.portfolio {
    background: #f8f8f8;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 700px;
    max-width: 90%;
    position: relative;
}

.portfolio-grid img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.portfolio-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: bold;
    background: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.exhibitions {
    padding: 1rem 2rem ;
}

.exhibition-title {
    font-size: 6rem;
    font-weight: 900;
    text-transform: lowercase;
    color: #000;
    line-height: 2;
}

.exhibition-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.exhibition-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.exhibition-item .number {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 50px;
}

.exhibition-item .title {
    font-size: 1.2rem;
    flex: 1;
}

.exhibition-item .location {
    flex: 1;
    font-size: 0.9rem;
    color: #555;
}

.exhibition-item button {
    background: white;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.exhibition-item button:hover {
    opacity: 0.6;
}

.footer {
    padding: 4rem 2rem 6rem;
    background: #fdfdfd;
    text-align: center;
    position: relative;
}

.footer-nav {
    margin-bottom: 2rem;
}

.footer-nav a {
    margin: 0 1rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-title {
    font-size: 8rem;
    font-weight: 900;
    text-transform: lowercase;
    color: #000;
    line-height: 1;
}